[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"
mock = "*"
django-livereload-server = "*"
prospector = "*"


[packages]

python-decouple = "*"
django-debug-toolbar = "*"
django = "*"
pip = "*"
django-compressor-toolkit = "*"
django-livereload-server = "*"
